.header {

    @extend %centered;

    &__title {
        letter-spacing: 1.5vw;
    }

    &__right {
        @include flex(row,sb,fe);

        @media (min-width: $sm) {
            flex-direction: column;
        }
    }

    &__logout-link {
        display: inline-block;
        padding: 0 .5rem;
        border: 1px solid $white;
        border-radius: 10px;
    }
}