@import "globals/globals";

@import "components/loader";
@import "components/header";
@import "components/contact-editor";

body {
    background-color: $light;
}

.auth-page {
    padding-top: 20vh;
    min-height: 100vh;
}

.contacts-page {
    min-height: 100vh;
}