// import fonts

@font-face {
    src:
        url("../fonts/Gotham-Pro-Regular.ttf") format("TrueType");
    font-family: "Gotham Pro";
    font-weight: 400;
}

@font-face {
    src:
        url("../fonts/Gotham-Pro-Medium.ttf") format("TrueType");
    font-family: "Gotham Pro";
    font-weight: 500;
}

@font-face {
    src:
        url("../fonts/Gotham-Pro-Bold.ttf") format("TrueType");
    font-family: "Gotham Pro";
    font-weight: 700;
}

@font-face {
    src:
        url("../fonts/Gotham-Pro-Black.ttf") format("TrueType");
    font-family: "Gotham Pro";
    font-weight: 900;
}